html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face{font-family:'fs';src:url('fonts/fs_light.otf')}

body {
	background: #eaedef;
	font-family: "fs", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 14pt;
	line-height: 18pt;
}

h2 {
	margin-top: 0px;
	font-size: 24pt;
}

div#top {
	position: relative;
	height: 100px;
	background: #2E3E77;
	color: #ffffff;
	padding-right: 270px;
}

div#top p{
	text-decoration: none;
	color: silver;
	border-top: 4px solid transparent;
	margin-right: 3px;
	padding: 14px;
	font-size: 20px;
	vertical-align: top;
}

nav#navigation {
	align-items: center;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	list-style: none;
	float: right;
}

.nav-item {
	text-decoration: none;
	color: silver;
	text-transform: uppercase;
	border-top: 4px solid transparent;
	margin-right: 3px;
	padding: 14px;
	font-size: 20px;
	vertical-align: top;
}

.mission {
	margin-right: 3px;
	padding: 14px;
	vertical-align: top;
	position: absolute;
	bottom: 0;
	right: 160;
}

.active {
	border-top-color: #ffffff;
	color: #ffffff;
}

.landing {
	float: left;
	text-transform: lowercase;
	margin-left: 160px;
}

div#top h1 {
	font-size: 16pt;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
	display: inline-block;
	float: right;
}

.header {
	text-decoration: none;
	color: #ffffff;
}

div#headerillustration {
	background: #2E3E77;
	height: 320px;
	text-align: center;
	color: #ffffff;
}

.pagebody {
	max-width: 1040px;
	padding: 20px;
	margin: 40px auto 40px;
	background-color: #ffffff;
	border: solid 1px #dedede;
	border-radius: 3px;
}

hr {
	margin: 40px 20px;
	border: solid 1px #dedede;

}

div#ticker {
	height: 192px;
}

div#ticker h1 {
	font-size: 16pt;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
	text-align: center;
}

.box {
	margin: 28px;
}

.productimg {
	float: left;
	width: 50%;
}

.productdesc {
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding: 20px;
}

.readmore {
	font-size: 10pt;
}

.products {
	height: 320px;
}

.columns {
	max-width: 1040px;
	margin: 40px auto 40px;
}

.textbox {
	box-sizing: border-box;
	width: 64%;
	padding: 20px;
	float: left;
	background-color: #ffffff;
	border: solid 1px #dedede;
	border-radius: 3px;
	margin-right: 3%;
}

.imgbox {
	box-sizing: border-box;
	width: 33%;
	float: left;
	background-color: #ffffff;
	border: solid 1px #dedede;
	border-radius: 3px;
}

.textbox img {
    display: block;
    margin: 0 auto;
}